/target/
/.gradle/9.2.1/checksums/checksums.lock
/.gradle/9.2.1/checksums/md5-checksums.bin
/.gradle/9.2.1/checksums/sha1-checksums.bin
/.gradle/9.2.1/executionHistory/executionHistory.bin
/.gradle/9.2.1/executionHistory/executionHistory.lock
/.gradle/9.2.1/expanded/expanded.lock
/.gradle/9.2.1/fileChanges/last-build.bin
/.gradle/9.2.1/fileHashes/fileHashes.bin
/.gradle/9.2.1/fileHashes/fileHashes.lock
/.gradle/9.2.1/fileHashes/resourceHashesCache.bin
/.gradle/9.2.1/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/file-system.probe
/.gradle/vcs-1/gc.properties
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
